@mixin pts400 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
}
@mixin rf500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
$orange: #ffc222;
$color-icon: #ffcd21;
$colro-border: #e6e6e6;
$text: #e6e6e6;
$title-text: #212020;